@charset "UTF-8";


div#userInfo{
	
	padding: 3%;
	border-radius: 20px;
}

div#edit {
	margin-left: auto;
}


div#shouldmsg{
	font-size: 10pt;
	color: red;
}

ul#advantage li {
	list-style: none;
}

div.productInfo {
	padding-top: 20px important;
}

.payArea {
	border: solid 3px black;
	border-radius: 10px;
	
}

.pInfoArea{
	padding-bottom: 5px;
	border-bottom: double 4px gray;
}


.pInfo1{
	padding-top:10px; 
	margin: 5% 0 5% 2%; 
	width: 33%;
}

.pInfo4{
	padding-top:10px; 
	margin: 5% auto 5% 1%;
	width: 8%;
}

.pInfo2{
	padding-top:10px;
	margin: 5% auto;
	width: 10%;
}

.pInfo3{
	padding-top:10px;
	margin: 5% 2% 5% auto;
	width: 25%;
	font-size: 12pt;
	font-weight: bold;
}


.fixed-size{
	height: 100px;
	resize: none;
}

img.pImage{
	width: 100px; 
	height: 100px;
	/*margin: auto;*/
  	object-fit: cover;
}

span#totalCostView{
	font-size: 25pt;
	color: #ff8000;
}

