@charset "UTF-8";

nav#header {
	position:sticky;
	top:0;
    z-index: 9999;
}


div#topBar{
	background-color: black;
	color: white;		
}

h2#myPage {
	font-weight:  bold;
	margin-left: 2%;
}

ul#menu>li>a{
	color: black;
}

span#menu_first{
	font-weight: bold;
}

label#selectPicture{
	margin-right: 12px; 
	margin-bottom: 0;
}

button.change_btn{
	width: 150px;
}

button.twobtn {
	width: 60px;
	margin-right: 10px;
}


img#viewEye{
	width: 30px;
}

.sticky-top {
   top: 100px;
   z-index: 0;
}

div.postname{
	width: 11%;
	height: 35px;
	padding-top: 0.5%; 
	
}

span#pwd_wrong, span#pwd_check, span#pwd_check2 {
	color: red;
}

.emailbtn {
	display: flex;
}





