@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --orange-clr: hsl(26, 100%, 55%);
    --pale-orange-clr: hsl(25, 100%, 94%);
    --very-dark-blue-clr: hsl(220, 13%, 13%);
    --dark-grayish-blue-clr: hsl(219, 9%, 45%);
    --grayish-blue-clr: hsl(220, 14%, 75%);
    --light-grayish-blue-clr: hsl(223, 64%, 98%);
    --white-clr: hsl(0, 0%, 100%);
    --black-clr: hsl(0, 0%, 0%);
}
body{
    font-family: 'Kumbh Sans', sans-serif;
}
html, body{
    position: relative;
    min-height: 100%;
    min-width: 100%;
}
html.--overflow-hidden, 
body.--overflow-hidden{
    overflow: hidden;
}
button{ cursor: pointer; }
h1,h2,h3, h4, p, ul{ 
    margin: 0;
    padding: 0;
}
img{ 
    display: block;
    max-width: 100%; 
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.default-container{
    max-width: 450px;
    margin: 0 auto;
}
.lightbox{
    position: absolute;
	width: 100%;
	height: 100vh;
    inset: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 7;
    background-color: rgba(0,0,0,.8);
}

.icon{
    display: inline-block;
    mask-size: contain;
        -webkit-mask-size: contain;
    mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    mask-position: center;
        -webkit-mask-position: center;
    background-color: #69707D;
}
.icon-cart{
    mask-image: url(../images/header/icon-heart.svg);
        -webkit-mask-image: url(../images/header/icon-heart.svg);
    min-width: 22px;
    min-height: 22px;
}
.icon-close{
    mask-image: url(../images/header/icon-close.svg);
        -webkit-mask-image: url(../images/header/icon-close.svg);
    min-width: 17px;
    min-height: 17px;
}
.icon-previous{ 
    mask-image: url(../images/itemDetail/icon-previous.svg); 
        -webkit-mask-image: url(../images/itemDetail/icon-previous.svg); 
}
.icon-next{ 
    mask-image: url(../images/itemDetail/icon-next.svg); 
        -webkit-mask-image: url(../images/itemDetail/icon-next.svg); 
}
.icon-previous,
.icon-next{
    background-color: black;
    min-width: 15px;
    min-height: 15px;
}

.lightbox .icon-close{
    min-width: 22px;
    min-height: 22px;
    background-color: white;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .8em .75em;
    background-color: black;
    position:sticky;
    top:0;
    z-index: 2;
}

.layer-popup {
    display: none;
    height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

.top-header__left{ overflow-y: visible;}
.top-header__left,
.top-header__right{
    display: flex;
    align-items: center;
}
.top-header__left{ padding-left: .5em; }
.top-header__right{ padding-right: .5em; }
.logo{
    position: relative;
    display: inline-block;
    padding: .1em;
    /* 
    background: url(../images/) no-repeat; 추후 결정되면 */
    background-size: contain;
    background-position: left 35%;
}
.logo .invisible{ opacity: 0;}
.nav-btn{ 
    position: relative;
    min-width: 32px;
    margin-right: .75em;
    padding: .5em;
}
.top-header__btn-cart{ 
    position: relative; 
    margin-right: .8em;
}
.top-header__btn-cart.--active .icon{ background-color: white; } 
.top-header__btn-cart .items-quantity{
    position: absolute;
    top: -25%;
    right: -5%;
    z-index: 2;
    display: inline-block;
    padding: .2em .75em;
    visibility: hidden;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--orange-clr);
    color: var(--white-clr);
    font-size: .6rem;
    font-weight: 700;
    transition: visibility, opacity .3s ease-in;
}
.top-header__btn-cart .items-quantity.active{
    visibility: visible;
    opacity: 1;
}
.user-container{ min-width: 38px; }
.user-container img{ 
    width: 30px; 
    border-radius: 50%; 
}
.top-header__left .main-nav{
    position: absolute;
    inset: 0%;
    z-index: 5;
    transform: translateX(-200%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.main-nav__content-container{
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 5;
    background: var(--white-clr);
    transition: transform .5s ease-in-out;
    overflow: visible;
}
.main-nav.active,
.main-nav__content-container.active{ 
    transform: translateX(0%); 
}
.main-nav__close-btn{
    padding: .5em;
    margin: 1.5em 0 0 1em;
}
.main-nav__links{
    margin-top: 1em;
    padding-left: .5em;
    list-style: none;
}
.nav-item{
    position: relative;
    display: inline-block;
    padding: .75em 1em;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-weight: 700;
    font-size: 1.10rem;
    border:solid 0px red;
}
.nav-btn,
.user-container,
.top-header__btn-cart,
.main-nav__close-btn{
    border: none;
    outline: none;
    background: transparent;
}

.cart-section{
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
    width: 95%;
    min-width: 300px;
    max-width: 400px;
    background: var(--white-clr);
    border-radius: 10px;
    box-shadow: 0 15px 15px 5px rgba(0,0,0,.2); 
    box-sizing: border-box;
    transition: opacity .3s ease-in-out;
}
.cart-section.active{ opacity: 1; }
.cart-section__title{
    padding: 1.5em;
    font-size: 1rem;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px var(--grayish-blue-clr);
}
.cart-section__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 190px;
    padding: 0 1.5em;
}
.cart-section__body.--with-items{
    display: block;
    min-height: auto;
	max-height: 50vh;
    overflow: hidden scroll;
}
.cart-section__li {
	position: relative;
	margin-bottom: 2rem;
	display: flex;
}
.cart-section__li a.list-item {
	flex: 1;
}
.cart-section__body .form-check-input {
	margin: 0 !important;
}
.cart-section__body .empty-msg{
    font-weight: 700;
    color: var(--dark-grayish-blue-clr);
}
.cart-section__body .empty-msg.--deactivate{ display: none; }
.cart-section__products{
    display: none; 
    list-style: none;
}
.cart-section__products.--active{ display: block; }
.cart-section__products .list-item{
    --bd-radius: 5px;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: var(--bd-radius);
    text-decoration: none;
    background: transparent;
    color: var(--dark-grayish-blue-clr);
}
.cart-section__products .product__thumb{
    border-radius: var(--bd-radius);
    width: 20%;
    max-height: 100%;
}
.cart-section__products .price-calculation,
.cart-section__products .price-calculation__value,
.price-calculation__value .value__span,
.cart-section__products .price-calculation__final-price,
.cart-section__products .btn-del-product{
    position: relative;
}

.list-item__abstract{ 
	flex: 1;
    max-width: 70%;
    padding: .2em .2em .2em .5em;
}
.list-item__abstract .title{ 
    font-weight: 400; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-item__abstract .price-calculation,
.price-calculation__final-price{
    display: inline-block;
    margin-top: .5em;
}
.price-calculation__final-price{
    margin-left: .5em;
    color: var(--black-clr);
    font-weight: 700;
}
.cart-section__products .btn-del-product{
    width: 50px;
    padding: 0.5rem;
    border: none;
    background: transparent;
}
.value__span, 
.final-price__span{
    margin-left: -0.2em;
}
.cart-section__btn-checkout{
    display: none;
    width: 100%;
    padding: 1.15em;
    margin-top: 1.15em;
    border: none;
    border-radius: 10px;
    background-color: var(--orange-clr);
    color: var(--white-clr);
    font-weight: 700;
}
.cart-section__btn-checkout.--active{ display: block; }
.cart-section__body .cart-section__btn-checkout.--active{ min-height: auto; }

@media (hover:hover) and (pointer:fine){
    .user-container:hover img{ outline: solid 2px var(--orange-clr); }
    .cart-form__add-btn:hover,
    .cart-form__add-btn:focus,
    .btn-changeValue:focus .icon,
    .btn-changeValue:hover .icon{
        opacity: .7;
    }
    .btn-nextImage:focus .icon,
    .btn-previousImage:focus .icon,
    .product__slider___btn-close-lightbox:focus .icon{
        background-color: var(--orange-clr);
    }
    .thumb-item__btn:hover img{ opacity: .5; }
    .btn-nextImage:hover .icon,
    .btn-previousImage:hover .icon,
    .product__slider___btn-close-lightbox:hover .icon{
        background-color: var(--orange-clr);
    }
    .nav-item:hover{ 
        color: white; 
        outline: none;
    }
    .nav-item:hover::after{ background-color: white; }
}
@media screen and (min-width: 455px){ 
    .product__slider .image-box,
    .image-box__src{ 
        border-radius: var(--bd-radius); 
    } 
}
@media screen and (min-width: 576px){
    .top-header{
        padding-left: 3em;
        padding-right: 3em;
    }
    .main-nav__content-container{ width: 55%; }
    .product__slider .btn-previousImage,
    .product__slider .btn-nextImage{
        display: none;
    }
    .product__thumbs{ display: flex; }
    .product__content{ 
    	/* margin-top: 1em; */ 
    	}
}
@media screen and (min-width: 768px){
    .default-container{ }
    .main-nav__content-container{ width: 40%; }
    .top-header{ 
    	/* padding-top: 1em; */ 
    }
    .top-header__btn-cart{ margin-right: 1.5em; }
    .user-container img{ 
    	width: 40px; 
    	height: 50px;
        object-fit: cover;
    }
    .icon-cart{ 
        min-width: 20px;
        min-height: 20px;
    }

    .cart-section__products .list-item{
        grid-template-columns: 17% 65% 10%;
        grid-auto-rows: 70px;
        justify-content: center;
    }
    .list-item__abstract{
        align-self: start;
        font-size: 1.05rem;
        padding: .2em 0;
    }
    .list-item__abstract .title{
        margin-bottom: .10em;
    }
    .cart-section__products .btn-del-product{
        margin: -10px 0 0;
    }
    .product{ --max-width-box: 455px; }
    .image-box__src,
    .product__thumbs{ 
        max-width: var(--max-width-box); 
    }
    .product__title{ 
        margin-top: .55em;
        font-size: 2rem; 
    }
    .product__content .company-name{ font-size: .85rem; }
    .product__description{ font-size: 1.15rem; }
    .product__price{ 
        flex-direction: column; 
        align-items: flex-start;
    }
    .product__price .full-price{ 
        margin-top: .5em;
        font-size: 1.05rem; 
    }
    .product__content .cart-form{
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-form__input-container{ 
        margin-bottom: 0;
        width: 40%;
    }
    #product__quantity{
        padding: 1em 0;
        max-width: 10%;
    }
   /*  .cart-form__add-btn{ width: 57%; } */
}
@media screen and (min-width: 992px){
    .default-container{ margin: 0; }
    body{ --max-width: 85%; }
    .top-header{
        /* padding: 1.5em 0 2em;  */
        padding-left: 2%;
        padding-right: 2%;
    }
    .top-header__left,
    .top-header__right{ 
        margin: 0; 
        padding: 0;
    }
    .nav-btn{ display: none; }
    .top-header__left .main-nav{
        display: inline-block;
        position: static;
        padding-left: 2em;
    }
    .main-nav__links{
        display: flex;
        align-items: flex-start;
        margin-top: 0;
    }
    .nav-item{
        color: var(--dark-grayish-blue-clr);
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 0;
    }
    .nav-item::after{
        content: "";
        position: relative;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: transparent;
        transition: background-color .5s ease-in;
    }
    .top-header__left .main-nav,
    .main-nav__content-container{
        transform: none;
        height: auto;
        width: auto;
        z-index: auto;
        background-color: transparent;
    }
    .main-nav__close-btn{
        display: none;
    }
    .cart-section{
        right: 0%;
        left: 0%;
        transform: translateX(calc(100vw - 400px - 3em));
    }
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
        justify-items: center;
        margin: 0 auto;
        max-width: var(--max-width);
        box-sizing: border-box;
    }
    .product__content{ align-self: center; }
    .product__thumbs{ margin-top: 2em; }
    .image-box__src{ margin-top: 0; }
}
@media screen and (min-width: 1200px){ 
    .product{ 
        column-gap: 5em;
        --max-width-box: 457px; 
        margin-bottom: 1em;
    }
    .product__content .company-name{ font-size: .9rem; }
    .product__title{ font-size: 2.75rem; }
    .discount-price__value{ font-size: 1.8rem; }
}
@media screen and (min-width: 1400px){
    body{ --max-width: 80%; }
    .main-nav__links li{ margin-right: .75em; }
    .user-container img{ width: 50px; }
    .top-header__btn-cart{ margin-right: 2em; }
    .product{ --max-width: 78%; }
    .product__slider{
        justify-self: end;
        padding: 2em;
        box-sizing: border-box;
    }
    .product__content{ 
        justify-self: start; 
        margin-top: -5%; 
    }
    .product__content .cart-form{ margin-top: 2.85em; }
    .cart-form__input-container{ width: 35%; }
    /* .cart-form__add-btn{ width: 60%; } */
}
@media screen and (min-width: 1900px){ 
    body{ --max-width: 85%; } 
    .product__slider.--lightbox-active{ max-width: 625px; }
}
.dropdown-item {
	text-decoration: none;
}
#navbarDropdown {
	color:white;
}
